{{ 'add-to-cart-button.css' | asset_url | stylesheet_tag }}

<form class="product-form">
    <input type="hidden" name="id" value="{{ product.variants.first.id }}">

    {% if product.available %}
    <script>
        console.log({{ product | json }})
    </script>
    <button class="product-form__button" id="add_to_cart" data-product-id="{{ product.id }}" data-quantity="1">
        {{ button_label }}
        <span>-</span>
        {% if product.compare_at_price > product.price %}
        <span class="product-form__price product-form__price--discounted">
            {{ product.price | money }}
        </span>
        <span class="product-form__price product-form__price--original">
            {{ product.compare_at_price | money }}
        </span>
        {% else %}
        <span class="product-form__price">{{ product.price | money }}</span>
        {% endif %}
    </button>
    {% else %}

    <button class="product-form__button product-form__button--out-of-stock" disabled>
        OUT OF STOCK
    </button>
    {% endif %}
</form>